.main-content {
    padding: 30px 250px 50px 270px;
}

.container {
    max-width: 1000px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding-left: 15px;
}

.separateTop {
    padding-left: 25px;
}


.delete-button {
    /* 버튼 높이를 행의 다른 요소들과 동일하게 설정 */
    height: 100%;
    /* 버튼 내용을 수직 가운데 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 버튼의 내용이 한 줄로만 표시되도록 설정 */
    white-space: nowrap;
}

#addButton {
    /* 테이블의 너비와 같은 너비 */
    width: 100%;
    /* 버튼 높이 설정 */
    height: 30px;
    /* 배경 색상 및 글자색 설정 */
    background-color: #ffffff;
    color: #808080;
    /* 테두리 제거 */
    border: none;
    /* 커서가 버튼 위에 있을 때 포인터로 변경 */
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* 버튼에 마우스를 갖다대면 */
#addButton:hover {
    /* 배경색과 글자색 변경 */
    background-color: #b0b0b0;
    color: #ffffff;
}

.totals-row {
    align-items: center;
}

#submitButton {
    /* 너비 설정 */
    width: 100%;
    /* 높이 설정 */
    height: 40px;
    /* 배경색 및 글자색 설정 */
    background-color: #4CAF50; /* 녹색 */
    color: #ffffff; /* 흰색 */
    /* 테두리 및 테두리 반경 설정 */
    border: none;
    border-radius: 5px;
    /* 마우스 커서를 포인터로 변경 */
    cursor: pointer;
    /* 글꼴과 글꼴 크기 설정 */
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* 버튼 안의 텍스트 정렬 */
    text-align: center;
    /* 텍스트 세로 중앙 정렬 */
    line-height: 40px;
    /* 그림자 효과 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* transition 효과 설정 */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

/* 마우스를 버튼 위로 이동했을 때 */
#submitButton:hover {
    /* 배경색과 글자색 변경 */
    background-color: #45a049; /* 어두운 녹색 */
    color: #ffffff; /* 흰색 */
    /* 그림자 효과 강화 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}