.main-content {
    padding: 30px 200px 50px 200px;
}

thead {
    background-color: #FAFAFA;
}

th, td {
    text-align: center;
}

#board_table tbody tr:hover {
    background-color: rgba(2, 135, 92, 0.2);
    cursor: pointer;
}

.empty-version {
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.empty-version img {
    margin-bottom: 10px;
    width: 100px;
}

.empty-version h5 {
    color: #5e5e5e;
    margin-bottom: 10px;
}

.btn-create {
    border: 1.5px solid #02875C;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-weight: normal;
    text-align: center;
    color: #02875C;
    line-height: 28px;
    margin: 0 auto;
}

.btn-create:hover {
    cursor: pointer;
    background-color: #02875C;
    color: #ffffff;
}