<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.PortfolioRepository">
    <insert id="insert" parameterType="portfolioDTO">
        INSERT INTO portfolio
        VALUES (0,
                #{userId},
                #{portfolioName},
                #{portfolioDesc},
                NOW(),
                #{rebalancing},
                #{percentageAED},
                #{percentageARS},
                #{percentageAUD},
                #{percentageBHD},
                #{percentageCAD},
                #{percentageCHF},
                #{percentageCNY},
                #{percentageDKK},
                #{percentageEUR},
                #{percentageGBP},
                #{percentageHKD},
                #{percentageHUF},
                #{percentageIDR},
                #{percentageILS},
                #{percentageINR},
                #{percentageJPY},
                #{percentageKWD},
                #{percentageMXN},
                #{percentageMYR},
                #{percentageNOK},
                #{percentageNZD},
                #{percentagePHP},
                #{percentagePKR},
                #{percentagePLN},
                #{percentageQAR},
                #{percentageRUB},
                #{percentageSAR},
                #{percentageSEK},
                #{percentageSGD},
                #{percentageTHB},
                #{percentageTRY},
                #{percentageTWD},
                #{percentageUSD},
                #{percentageVND},
                #{percentageXAG},
                #{percentageXAU},
                #{percentageZAR})
    </insert>

    <select id="selectOne" parameterType="Integer" resultType="PortfolioDTO">
        SELECT * FROM portfolio WHERE id=#{id}
    </select>

    <select id="selectByUserId" parameterType="Integer" resultType="PortfolioDTO">
        SELECT * FROM portfolio WHERE user_id=#{userId}
        ORDER BY id DESC
    </select>

    <delete id="delete" parameterType="Integer">
        DELETE FROM portfolio WHERE id=#{id}
    </delete>

    <select id="getCurrencyByCountryDate" parameterType="PortfolioQueryDTO">
        SELECT currency_date, standard_rate
        FROM ${tableName}
        WHERE currency_date BETWEEN #{startDate} AND #{endDate}
        ORDER BY currency_date;
    </select>
</mapper>